@page "/"

@inject MediatR.IMediator _mediator

<PageTitle>Index</PageTitle>

<h1>We The People</h1>

<ul>
    @foreach(var p in people)
    {
        <li>@p.Id @p.FirstName @p.LastName</li>
    }
</ul>

@code {
    List<PersonModel> people;

    protected override async Task OnInitializedAsync()
    {
        //get list of people
        /*
        var demoDataAccess = new DemoDataAccess();
        people = demoDataAccess.GetPeople();
        */

        people = await _mediator.Send(new GetPersonListQuery());

        //return base.OnInitializedAsync();
    }
}
